<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://constructicon.github.io/persian/img/favicon.ico">

    <title>Constructicon</title>

    
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="https://raw.githubusercontent.com/constructicon/persian/main/content/logo/constructicon-round.png" />
    

    
      <meta name="description" content="Description of the Constructicon.
" />
      <meta name="twitter:description" content="Description of the Constructicon.
" />
    

    
      <meta name="twitter:title" content="Constructicon" />
    

    <link rel="stylesheet" href="https://constructicon.github.io/persian/css/bootstrap.css" crossorigin="anonymous">
    <!-- <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"
            integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
            crossorigin="anonymous"></script>

    <!-- https://vue-treeselect.js.org/ -->
    <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
            integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"
            integrity="sha256-Jvh9+A4HNbbWsWl1Dw7kAzNsU3y8elGIjLnUSUNMtLg="
            crossorigin="anonymous"></script>

    <!-- https://github.com/bvaughn/js-search -->
    <script src="https://cdn.jsdelivr.net/npm/js-search@2.0.0/dist/umd/js-search.min.js"
            integrity="sha256-LD9UsSATk+xTzAbk8nD2gA2bjHKvetXtCMDAFkM2K5Q="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js" integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/flexsearch/dist/flexsearch.bundle.js"></script>

    <link href="https://constructicon.github.io/persian/css/style.css" rel="stylesheet">
  </head>

  <body dir="auto">

    <div class="container">

      <!-- navigation -->
      <div class="row  justify-content-center">

        <div class="col-md-9 my-auto justify-content-center">
          <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/" role="button">Browse</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/daily/" role="button">Daily&nbsp;dose</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/advanced-search/" role="button">Advanced&nbsp;search</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/instructions/" role="button">Instructions</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/statistics/" role="button">Statistics</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="btn btn-info btn-block" href="https://constructicon.github.io/persian/about/" role="button">About</a>

                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="row d-flex justify-content-center">

          <img src="https://raw.githubusercontent.com/constructicon/persian/main/content/logo/NewLogoColor.svg"  alt="Persian Constructicon logo" width="170">

          </div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous">
          </script>
          <script>
            $(function(){
                $('a').each(function(){
                    if ($(this).prop('href') == window.location.href) {
                        $(this)[0].classList.remove('btn-info');
                        $(this).addClass('btn-warning');
                    }
                });
            });
        </script>
      </div>
      <!-- end navigation -->

      <div class="top-buffer">
        
  <div id="app" v-cloak>

    <div v-if="show_data_spinner">
      <div class="row top-buffer">
        <div class="col-md-12">
        <h1>Loading data (can take few seconds) ...</h1>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <div v-if="all_data_loaded">
        
  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Morphology</label> -->
    <treeselect
      :multiple="true"
      :options="morphology_options"
      placeholder="Select morphology"
      v-model="morphology_selected"
      />
    <treeselect-value :value="morphology_selected" />
  </div>


  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Syntactic type of construction</label> -->
    <treeselect
      :multiple="true"
      :options="syntactic_type_of_construction_options"
      placeholder="Select syntactic type of construction"
      v-model="syntactic_type_of_construction_selected"
      />
    <treeselect-value :value="syntactic_type_of_construction_selected" />
  </div>

  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Syntactic function of anchor</label> -->
    <treeselect
      :multiple="true"
      :options="syntactic_function_of_anchor_options"
      placeholder="Select syntactic function of anchor"
      v-model="syntactic_function_of_anchor_selected"
      />
    <treeselect-value :value="syntactic_function_of_anchor_selected" />
  </div>

  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Syntactic structure of anchor</label> -->
    <treeselect
      :multiple="true"
      :options="syntactic_structure_of_anchor_options"
      placeholder="Select syntactic structure of anchor"
      v-model="syntactic_structure_of_anchor_selected"
      />
    <treeselect-value :value="syntactic_structure_of_anchor_selected" />
  </div>

  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Part of speech of anchor</label> -->
    <treeselect
      :multiple="true"
      :options="part_of_speech_of_anchor_options"
      placeholder="Select part of speech of anchor"
      v-model="part_of_speech_of_anchor_selected"
      />
    <treeselect-value :value="part_of_speech_of_anchor_selected" />
  </div>


  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Semantic types</label> -->
    <treeselect
      :multiple="true"
      :options="semantic_types_options"
      placeholder="Select semantic types"
      v-model="semantic_types_selected"
      />
    <treeselect-value :value="semantic_types_selected" />
  </div>


  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Semantic roles</label> -->
    <treeselect
      :multiple="true"
      :options="semantic_roles_options"
      placeholder="Select semantic roles"
      v-model="semantic_roles_selected"
      />
    <treeselect-value :value="semantic_roles_selected" />
  </div>


  
  <div class="col-md-6 float-right my-2 justify-content-center">
    <!-- <label>Level</label> -->
    <treeselect
      :multiple="true"
      :options="level_options"
      placeholder="Select level"
      v-model="level_selected"
      />
    <treeselect-value :value="level_selected" />
  </div>



      <div class="row">

        <div class="col-md-12">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group m-2">
              <label>Results</label>
              <span style="direction:RTL; unicode-bidi:bidi-override;">
                <select v-model="current_record_number" class="form-control" size="10">
                  <option v-for="record_number in record_numbers_matching_search" :value="record_number">
                    {[ record_number ]}
                    -
                    <b>{[ records[record_number].name ]}</b>
                    &nbsp;
                    |
                    &nbsp;
                    {[ records[record_number].illustration  ]}
                  </option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="current_record_number != null">
            {[ current_record_number ]}
            <br>
            <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
              <p class="text-center mb-0"><b>NAME</b></p>
            </div>

            <div style="direction:RTL; text-align: right">
              <b>{[ records[current_record_number].name ]}</b>
            </div>

            <div style="direction:RTL; text-align: right">
              <i>{[ records[current_record_number].illustration ]}</i>
            </div>

            <br>
            <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
              <p class="text-center mb-0"><b>NAME TRANSCRIPTION</b></p>
            </div>
            <p>{[ records[current_record_number].name_transcription ]}<br>
            {[ records[current_record_number].illustration_transcription ]}</p>

            <br>
            <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
              <p class="text-center mb-0"><b>ENGLISH EQUIVALENT</b></p>
            </div>
            <p>{[ records[current_record_number].name_translation ]}</p>

            <br>
            <!-- <b>ILLUSTRATION TRANSCRIPTION</b> -->

            <div v-for="definition in records[current_record_number].definitions">
              <br>
              <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                <p class="text-center mb-0"><b>DEFINITION ({[ to_title_case(key(definition)) ]})</b></p>
              </div>
            
              <div v-if="key(definition) == 'persian'" style="direction:RTL; text-align: right">
                <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="annotate(remove_quotation_marks(value(definition)), true)"></span>
              </div>
              <div v-if="key(definition) != 'persian'">
                <span v-html="annotate(remove_quotation_marks(value(definition), false))"></span>
              </div>
              <br>
            </div>

            <br>
            <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
              <p class="text-center mb-0"><b>EXAMPLES</b></p>
            </div>
            <div>
              <ol style="direction:rtl; text-align: right">
                <li v-for="example in records[current_record_number].examples">
                  <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="annotate(example.example, true)"></span>
                  <br>
                  <div style="direction:LTR">
                    <span style="direction:ltr; color: #7b7e98"  v-html="annotate(example.transcription, false)"></span>
                  </div>
                </li>
              </ol>
            </div>
            
            <div v-if="records[current_record_number].cefr_level">
              <br>
              <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                <p class="text-center mb-0"><b>CEFR LEVEL</b> {[ records[current_record_number].cefr_level ]}</b></p>
              </div>
              <br>
            </div>


            <br>
            <input type="checkbox" id="checkbox" v-model="show_additional_information">
            <label for="checkbox">Show additional information</label>

            <div v-if="show_additional_information">
              <br>
              <div v-show="records[current_record_number].common_fillers[0] != null">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>COMMON FILLERS</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].common_fillers">{[ item ]}</li>
                </ul>
                <br>
              </div>
              
              
              <div v-if="records[current_record_number].semantic_types != null">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>SEMANTIC TYPE</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].semantic_types">
                    {[ item['type'] ]}
                    <ul>
                      <li v-for="it in item['subtypes']">{[ it['type'] ]}</li>
                    </ul>
                  </li>
                </ul>
                <br>
              </div>

              <div v-show="records[current_record_number].syntactic_type_of_construction[0] != null">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>SYNTACTIC TYPE OF CONSTRUCTION</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
                </ul>
                <br>
              </div>

              
              <div v-show="records[current_record_number].syntactic_function_of_anchor[0] != null">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>SYNTACTIC FUNCTION OF ANCHOR</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_function_of_anchor">{[ item ]}</li>
                </ul>
                <br>
              </div>

              <div v-show="records[current_record_number].syntactic_structure_of_anchor[0] != null">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>SYNTACTIC STRUCTURE OF ANCHOR</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_structure_of_anchor">{[ item ]}</li>
                </ul>
                <br>
              </div>
              
              <div v-if="!!records[current_record_number].part_of_speech_of_anchor[0]">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>PART OF SPEECH OF ANCHOR</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].part_of_speech_of_anchor">{[ item ]}</li>
                </ul>

                <br>
              </div>

              <!-- <b>DEPENDENCY STRUCTURE</b>
              <ol>
                <div dir="rtl">
                  <li v-for="item in records[current_record_number].dependency_structure">{[ item ]}</li>
                </div>
              </ol>


              <br>
              <b>DEPENDENCY STRUCTURE OF ILLUSTRATION</b>
              <ol>
                <span style="direction:rtl; unicode-bidi:bidi-override;">
                  <li v-for="item in records[current_record_number].dependency_structure_of_illustration">{[ item ]}</li>
                </span>
              </ol> -->
              <div v-if="!!records[current_record_number].intonation[0]">
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>COMMUNICATIVE TYPE</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].intonation">{[ item ]}</li>
                </ul>
              </div>

              <div v-if="!!records[current_record_number].usage_label[0]">
                <br>
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>USAGE LABEL</b></p>
                </div>
                <ul>                
                  <li v-for="item in records[current_record_number].usage_label">{[ item ]}</li>
                </ul>
                <br>
              </div>

<!-- 
              <br>
              <b>COMMENT</b>
              <ul>
                <li v-for="comment in records[current_record_number].comment">
                  {[ key(comment) ]}: {[ value(comment) ]}
                </li>
              </ul> -->

              <!-- FIXME: bad check for empty comments -->
              <div v-for="comment in records[current_record_number].comment">
                <div v-show="value(comment).trim().length != 2">
                  
                  <br>
                  <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                    <p class="text-center mb-0"><b>COMMENT ({[ to_title_case(key(comment)) ]})</b></p>
                  </div>
                  <div v-if="key(comment) == 'Persian'" style="direction:RTL; text-align: right">
                    <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="remove_quotation_marks(value(comment))"></span>
                  </div>
                  <div v-if="key(comment) != 'Persian'">
                    <span v-html="remove_quotation_marks(value(comment))"></span>
                  </div>
                  <br>
                </div>
              </div>

              <div v-if="records[current_record_number].references">
                <br>
                <div class="p-2 m-1 rounded" style="background-color: rgba(107,237,183, 0.5);">
                  <p class="text-center mb-0"><b>REFERENCES</b></p>
                </div>
                <ul>
                  <li v-for="item in records[current_record_number].references">{[ item ]}</li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>
      
    </div>

    </div>
  </div>

      </div>

      <div class="more-buffer">
		  
        <hr>
        <a href="https://uit.no/" target="_blank">
          <figure class="figure">
            
            <img src="https:&#x2F;&#x2F;constructicon.github.io&#x2F;persian&#x2F;processed_images&#x2F;7a9d3808320cf7f600.png"
                 class="figure-img img-fluid rounded" alt="UiT logo">
          </figure>
        </a>
      
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    
  <script src="https://constructicon.github.io/persian/js/constructicon.js"></script>


  </body>
</html>
