{% extends "base.html" %}

{% block content %}
  <div id="app" v-cloak>

    <div v-if="show_data_spinner">
      <div class="row top-buffer">
        <div class="col-md-12">
        <h1>Loading data (can take few seconds) ...</h1>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <div v-if="all_data_loaded">

      <div class="row top-buffer">
        <div class="col-md-6">
          {% block search %}
          {% endblock search %}
        </div>

        <div class="col-md-6">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group">
              <label>Results</label>
              <span style="direction:RTL; unicode-bidi:bidi-override;">
                <select v-model="current_record_number" class="form-control" size="10">
                  <option v-for="record_number in record_numbers_matching_search" :value="record_number">
                    {[ record_number ]}
                    -
                    <b>{[ records[record_number].name ]}</b>
                  </option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="current_record_number != null">
            {[ current_record_number ]}
            <br>

            <b>NAME</b>
            <div style="direction:RTL; text-align: right">
              <b>{[ records[current_record_number].name ]}</b>
            </div>
            <div style="direction:RTL; text-align: right">
              <i>{[ records[current_record_number].illustration ]}</i>
            </div>

            <br>
            <b>NAME TRANSCRIPTION</b>
            <p>{[ records[current_record_number].name_transcription ]}</p>

            <br>
            <b>NAME TRANSLATION</b>
            <p>{[ records[current_record_number].name_translation ]}</p>

            <br>
            <b>ILLUSTRATION TRANSCRIPTION</b>
            <p>{[ records[current_record_number].illustration_transcription ]}</p>

            <div v-for="definition in records[current_record_number].definitions">
              <br>
              <b>DEFINITION ({[ to_title_case(key(definition)) ]})</b>
            
              <div v-if="key(definition) == 'persian'" style="direction:RTL; text-align: right">
                <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="annotate(value(definition), true)"></span>
              </div>
              <div v-if="key(definition) != 'persian'">
                <span v-html="annotate(value(definition), false)"></span>
              </div>
              <br>
            </div>

            <br>
            <b>EXAMPLES</b>
            <div dir="RTL">
              <ol style="direction:RTL; text-align: right">
                <li v-for="example in records[current_record_number].examples">
                  <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="annotate(example.example, true)"></span>
                  <br>
                  <span style="color: #7b7e98"  v-html="annotate(example.transcription, false)"></span>
                </li>
              </ol>
            </div>
            
            <br>
            <b>CEFR LEVEL</b> {[ records[current_record_number].cefr_level ]}
            <br>

            <br>
            <input type="checkbox" id="checkbox" v-model="show_additional_information">
            <label for="checkbox">Show additional information</label>

            <div v-if="show_additional_information">
              <br>
              <div v-show="records[current_record_number].common_fillers[0] != null">
                <b>COMMON FILLERS</b>
                <ul>
                  <li v-for="item in records[current_record_number].common_fillers">{[ item ]}</li>
                </ul>
                <br>
              </div>
              
              
              <div v-if="records[current_record_number].semantic_types != null">
                <b>SEMANTIC TYPE</b>
                <ul>
                  <li v-for="item in records[current_record_number].semantic_types">
                    {[ item['type'] ]}
                    <ul>
                      <li v-for="it in item['subtypes']">{[ it['type'] ]}</li>
                    </ul>
                  </li>
                </ul>
                <br>
              </div>

              <div v-show="records[current_record_number].syntactic_type_of_construction[0] != null">
                <b>SYNTACTIC TYPE OF CONSTRUCTION</b>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
                </ul>
                <br>
              </div>

              
              <div v-show="records[current_record_number].syntactic_function_of_anchor[0] != null">
                <b>SYNTACTIC FUNCTION OF ANCHOR</b>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_function_of_anchor">{[ item ]}</li>
                </ul>
                <br>
              </div>

              <div v-show="records[current_record_number].syntactic_structure_of_anchor[0] != null">
                <b>SYNTACTIC STRUCTURE OF ANCHOR</b>
                <ul>
                  <li v-for="item in records[current_record_number].syntactic_structure_of_anchor">{[ item ]}</li>
                </ul>
                <br>
              </div>
              
              <!-- <div v-if="!records[current_record_number].part_of_speech_of_anchor.length"> -->
                <b>PART OF SPEECH OF ANCHOR</b>
                <ul>
                  <li v-for="item in records[current_record_number].part_of_speech_of_anchor">{[ item ]}</li>
                </ul>

                <br>
              <!-- </div> -->

              <!-- <b>DEPENDENCY STRUCTURE</b>
              <ol>
                <div dir="rtl">
                  <li v-for="item in records[current_record_number].dependency_structure">{[ item ]}</li>
                </div>
              </ol>


              <br>
              <b>DEPENDENCY STRUCTURE OF ILLUSTRATION</b>
              <ol>
                <span style="direction:rtl; unicode-bidi:bidi-override;">
                  <li v-for="item in records[current_record_number].dependency_structure_of_illustration">{[ item ]}</li>
                </span>
              </ol> -->

              <b>COMMUNICATIVE TYPE</b>
              <ul>
                <li v-for="item in records[current_record_number].intonation">{[ item ]}</li>
              </ul>

              <br>
              <b>USAGE LABEL</b> 
              <ul>                
                <li v-for="item in records[current_record_number].usage_label">{[ item ]}</li>
              </ul>
              <br>
<!-- 
              <br>
              <b>COMMENT</b>
              <ul>
                <li v-for="comment in records[current_record_number].comment">
                  {[ key(comment) ]}: {[ value(comment) ]}
                </li>
              </ul> -->

              <!-- FIXME: bad check for empty comments -->
              <div v-for="comment in records[current_record_number].comment">
                <div v-show="value(comment).trim().length != 2">
                  
                  <br>
                  <b>COMMENT ({[ to_title_case(key(comment)) ]})</b>
                  <div v-if="key(comment) == 'Persian'" style="direction:RTL; text-align: right">
                    <span style="direction:rtl; unicode-bidi:bidi-override;" v-html="value(comment)"></span>
                  </div>
                  <div v-if="key(comment) != 'Persian'">
                    <span v-html="value(comment)"></span>
                  </div>
                  <br>
                </div>
              </div>

              <br>

              <b>REFERENCES</b>
              <ul>
                <li v-for="item in records[current_record_number].references">{[ item ]}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
