{% extends "browse.html" %}

{% block search %}
  <div class="row justify-content-end">
    <div class="col-md-6">
      {{ macros::treeselect(key="level") }}
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group my-2">
          <!-- <label></label> -->
          <input v-model="search_string" class="form-control" placeholder="Search in names and illustrations" onkeydown="if(event.keyCode==13){return false;}" dir="rtl">
        </div>
      </form>
    </div>

  </div>

{% endblock search %}
